* {
    margin: 0;
    padding: 0;
}

body {

}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px;
}

img {
    max-width: 100%;
}

.container .image {
    
}

.container .image img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}