/* ===== Font Face ======= */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Young-Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {

}

ul, ol {
    list-style: none;

}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px;
}

img {
    max-width: 100%;
}

/* main css */
.container .image {
    
}

.container .image img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.main-heading {
    font-family: "Young-Serif", sans-serif;
    font-size: 3rem;
    padding: 1.2rem 0;
    color: hsl(24, 5%, 18%);
}

.sub-content {
     font-family: "Outfit", sans-serif;
     padding: 1.2rem 0;
     color: hsl(30, 10%, 34%);
}

.preparation {
    font-family: "Outfit", sans-serif;
    padding: 1rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
}

.preparation  h4 {
    padding: 1rem 0;
    color: hsl(332, 51%, 32%);
}

.preparation .rounded-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: hsl(332, 51%, 32%);
    border-radius: 100%;
}