/* ===== Font Face ======= */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Young-Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* general styling */

* {
    margin: 0;
    padding: 0;
}


ul, ol {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px;
}

img {
    max-width: 100%;
}

.rounded-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: hsl(332, 51%, 32%);
    border-radius: 100%;
}


/* main css */
.container .image img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.main-heading {
    font-family: "Young-Serif", sans-serif;
    font-size: 3rem;
    padding: 1.2rem 0;
    color: hsl(24, 5%, 18%);
}

.sub-content {
    font-family: "Outfit", sans-serif;
    padding: 1.2rem 0;
    color: hsl(30, 10%, 34%);
}

.preparation {
    font-family: "Outfit", sans-serif;
    padding: 1rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
    margin: 2rem 0;
}

.preparation  h3 {
    padding: 1rem 0;
    color: hsl(332, 51%, 32%);
}

.ingredients, .nutrition, .instructions {
    margin: 2rem 0;
}

.ingredients h2,
.nutrition h2,
.instructions h2 { 
    font-family: "Young-Serif", sans-serif;
    color: hsl(332, 51%, 32%);
    padding: 1rem 0;
}

.preparation .preparation-content div,
.instructions .instructions-content div,
.ingredients .ingredients-content div   {
    display: grid;
    grid-template-columns: 5% 97%;
    padding: 0.5rem;
}

.preparation .preparation-content div .rounded-circle,
.ingredients .ingredients-content div .rounded-circle {
    align-self: center;
}

.instructions .instructions-content div .number {
        color: hsl(332, 51%, 32%);
        font-weight: 600;
}

.nutrition p,
.nutrition .nutrition-content,
.instructions .instructions-content,
.ingredients .ingredients-content {
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}


.nutrition p {
    padding: 1rem 0;
}

.nutrition .rose {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

.nutrition .nutrition-content div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition .nutrition-content div .name {
    padding-left: 1.5rem;
}

.nutrition .nutrition-content div:last-child {
    border-bottom: none;
}

/* media query */
@media (max-width: 786px) {
    .main-heading {
    font-size: 1.8rem;
    }  
}

@media (max-width: 500px) {
    .instructions .instructions-content div  {
        grid-template-columns: 10% 90%;

    }  
    
    .main-heading {
    font-size: 1.3rem;
    }
}


